<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">About Me</a></li>
    <li>
      <a href="#">Projects</a>
      <ul>
        <li>
          <a href="{{ '/projects/mechanical-engineering' | relative_url }}"
            >Mechanical Engineering</a
          >
        </li>
        <li>
          <a href="{{ '/projects/computer-science' | relative_url }}"
            >Computer Science</a
          >
        </li>
        <li>
          <a href="{{ '/projects/personal' | relative_url }}">Personal</a>
        </li>
      </ul>
    </li>
    <li><a href="{{ '/contact' | relative_url }}">Contact Me</a></li>
    <li><a href="{{ '/pibble' | relative_url }}">Pibble</a></li>
  </ul>
</nav>
